@model NewsCoreApp.Data.Entities.Contact
@{
    ViewData["Title"] = "Contact";
}

@section Styles{
    <style type="text/css">
        .red {
            color: #E74C3C;
        }
    </style>
}

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn9gaKzspPwRtaABhpdtgZnmnkoAxy3ek">
    </script>@*AIzaSyCM7HdGnCJpGOxtrvFfGaW3nDwdzidIozI*@
    @*<script src="https://www.google.com/recaptcha/api.js?render=6LfS9csZAAAAAIPB8ysydIySKdeaDW1osl4ShCsb"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/localization/messages_vi.js"></script>

    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
    <script src="~/js/controllers/contact/index.js"></script>
    <script type="text/javascript">
        var contact = new contactController();
        contact.initialize();
    </script>
}

@*<div class="row">
        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15667.866778514845!2d106.84449491977541!3d10.965886500000012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174dc2c56248393%3A0xbf270bce14e69375!2zRE5UTiBE4buLY2ggVuG7pSBUaMawxqFuZyBN4bqhaSDEkOG6oWkgTWluaCBRdWFuZw!5e0!3m2!1svi!2s!4v1600046413896!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>*@
<input type="hidden" id="hidLng" value="@Model.Lng" />
<input type="hidden" id="hidLat" value="@Model.Lat" />
<input type="hidden" id="hidAddress" value="@Model.Address" />
<input type="hidden" id="hidName" value="@Model.Name" />
<div class="row">
    <div class="col-md-6">
        <h4>Gửi thông tin liên hệ</h4>
        @if (ViewData["Success"] != null)
        {

            if ((bool)ViewData["Success"] == true)
            {
                <div class="alert alert-success">
                    Cám ơn bạn đã gửi phản hồi. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    Có lỗi trong quá trình gửi phản hồi. Vui lòng liên hệ quản trị.
                </div>
            }
        }
        else
        {
            <form role="form" id="frmContact" action="/Contact/SubmitContact" method="post">
                <div>
                    @Html.AntiForgeryToken()
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtName" class="control-label no-padding-right">Họ tên</label>
                            <div>
                                <input type="text" id="txtName" name="Name" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtPhone" class="control-label no-padding-right">Điện thoại</label>
                            <div>
                                <input type="text" name="Phone" class="form-control" id="txtPhone">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtEmail" class="control-label no-padding-right">Email</label>
                            <div>
                                <input type="text" name="Email" class="form-control" id="txtEmail">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtTitle" class="control-label no-padding-right">Tiêu đề</label>
                            <div>
                                <input type="text" name="Title" class="form-control" id="txtTitle">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtContent" class="control-label no-padding-right">Nội dung</label>
                            <div>
                                <textarea type="text" name="Content" class="form-control" id="txtContent" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <recaptcha />
                            <span class="text-danger" id="recaptchaErrorMessage"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" id="btnSubmit" class="btn btn-success">Gửi liên hệ</button>
                    </div>
                </div>
            </form>
        }

    </div>
    <div class="col-md-6">
        <h4>Địa chỉ</h4>
        <p>G18B, Khu Phố 5, Phường Tân Hiệp, Tp. Biên Hòa, Đồng Nai, Việt Nam</p>
        <p>Điện thoại: +84 61 389 56 39</p>
        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15667.866778514845!2d106.84449491977541!3d10.965886500000012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174dc2c56248393%3A0xbf270bce14e69375!2zRE5UTiBE4buLY2ggVuG7pSBUaMawxqFuZyBN4bqhaSDEkOG6oWkgTWluaCBRdWFuZw!5e0!3m2!1svi!2s!4v1600046413896!5m2!1svi!2s" width="500" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>*@
        <div id="map" style="width:100%;height:450px;"></div>
    </div>
</div>
